<h1>This is Our People</h1>


<div id="carousetext-aligndesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://www.sydneyvetspecialists.com.au/wp-content/uploads/2019/09/how-often-should-my-pet-visit-the-vet.jpg" height="800" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-center" style="margin-bottom: relative; margin-left: relative; background-color:hsla(0, 0%, 40%, 0.6">
                <h1>As the founder of Pets R Us Veterinary Clinic</h1>
                <p>
                    I am proud to say that we have been providing compassionate care for pets in our community for many years. It is a true honor to be able to serve the animals and their families who walk through our doors each day.
                </p>
                <p>
                    At Pets R Us, we are dedicated to providing the highest quality of veterinary care to each and every one of our patients. We understand the unique bond that exists between pet owners and their furry family members, and we strive to maintain that bond by offering a welcoming and stress-free environment for both pet and owner.
                </p>
                    <p>
                    I am grateful to work with a team of highly skilled and experienced veterinarians and support staff who share my passion for providing the best possible care for pets. Our state-of-the-art facility is equipped with the latest technology and equipment, allowing us to offer a wide range of services to meet the unique needs of each of our patients.
                </p>
                    <p>
                    It is my pleasure to see the positive impact that our clinic has had on the lives of so many pets and their owners. From routine check-ups to emergency surgeries, we are here for our patients every step of the way.
                </p>
                <p>
                    I am proud to be a part of the Pets R Us family, and I am honored to be able to serve the pets and families of our community. Thank you for entrusting us with the care of your furry family members."
                </p>
                <p>
                    Best regards,
                    Dr. John Smith, DVM
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://insight.study.csu.edu.au/wp-content/uploads/2021/12/How-to-become-a-vet_banner.jpg" height="800" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-xl-start" style="margin-left: -175px; margin-bottom: 150px">
                <h3>Our clinic is led by Dr. John Smith</h3>
                <p style="margin-right: 800px">A highly skilled and experienced veterinarian who is dedicated to providing the highest quality of care for your pets. We understand that your pets are more than just animals, they are members of your family, and we treat them as such.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://kingston.tvh.vet/wp-content/uploads/sites/5/2022/04/Tia-Duggan.jpg" height="800" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-xl-start">
                <h3>We offer a wide range of services</h3>
                <p>To meet the unique needs of each and every one of our patients. From routine check-ups and vaccinations to more advanced procedures such as surgery and dental care, we have the expertise and equipment to handle it all.</p>
            </div>
        </div><div class="carousel-item">
            <img src="https://img.freepik.com/free-photo/veterinarian-checking-dog-medium-shot_23-2149143871.jpg?w=2000" height="800" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-xl-start" style="margin-bottom: 400px; margin-left: -175px">
                <h3>Our state-of-the-art facility</h3>
                <p style="margin-right: 800px">Is equipped with the latest technology to ensure that your pet receives the best possible care. We also offer an in-house pharmacy and laboratory for your convenience.</p>
            </div>
        </div><div class="carousel-item">
            <img src="https://img.choice.com.au/-/media/98806dc029b247baafe7ec7e30ecdbc5.ashx?w=660&jq=80%20660w" height="800" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-xl-start">
                <h3>We understand that your pet is an important member of your family</h3>
                <p>We strive to make your visit to our clinic as stress-free as possible. That's why we offer a comfortable and welcoming waiting area, and our staff is always happy to answer any questions you may have.</p>
            </div>
        </div><div class="carousel-item">
            <img src="https://media.istockphoto.com/id/1303362255/photo/young-happy-veterinary-nurse-smiling-while-playing-with-a-dog-high-quality-photo.jpg?s=170667a&w=0&k=20&c=IKry1S0RFFWEGw7B4ZdKBGRlFhgfNhi8YedaYGbCric=" height="800" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-xl-start">
                <h3>We are committed to providing the best possible care for your pets.</h3>
                <p>We believe that a healthy pet is a happy pet, and we are dedicated to helping your furry family member live a long and happy life.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://th.bing.com/th/id/OIP.G9aWziCHbvLV-UHFyFRQpgHaEK?pid=ImgDet&rs=1" height="800" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-xl-start" style="margin-bottom: 550px; margin-left: -175px">
                <h3 style="margin-right: 800px">Thank you for considering Pets R Us for your pet's healthcare needs</h3>
                <p>We look forward to serving you and your pet soon.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousetext-aligndesOnly" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousetext-aligndesOnly" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>