<h1>This is Our Services</h1>

<div id="carousetext-aligndesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://th.bing.com/th/id/OIP.GeAA0FO3BwC_e47_zDJbsgHaEo?pid=ImgDet&rs=1" height="800" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-xl-start" style="margin-bottom: 600px; margin-left: -175px">
                <h1>Welcome to Pets R Us</h1>
                <p>Where your furry family members receive the best in compassionate care.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://static1.therichestimages.com/wordpress/wp-content/uploads/2015/02/shutterstock_Cute-Dog.jpg" height="800" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-xl-start" style="margin-left: -175px; margin-bottom: 150px">
                <h3>Our clinic is led by Dr. John Smith</h3>
                <p style="margin-right: 800px">A highly skilled and experienced veterinarian who is dedicated to providing the highest quality of care for your pets. We understand that your pets are more than just animals, they are members of your family, and we treat them as such.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://th.bing.com/th/id/R.29e86fe7b3d7acca2d7fe8c81a26e268?rik=qf1gn4jsTx5b%2fg&riu=http%3a%2f%2f3.bp.blogspot.com%2f-GfiMn3VSfnc%2fVigKnxj9x5I%2fAAAAAAAA9zI%2fCXLjzRlI2yA%2fs1600%2fboo2.jpg&ehk=DvzwfSl3dnzskksR98H%2bh8SmlCfEC3seZKZBwNde3i0%3d&risl=&pid=ImgRaw&r=0" height="800" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-xl-start">
                <h3>We offer a wide range of services</h3>
                <p>To meet the unique needs of each and every one of our patients. From routine check-ups and vaccinations to more advanced procedures such as surgery and dental care, we have the expertise and equipment to handle it all.</p>
            </div>
        </div><div class="carousel-item">
            <img src="https://images.pexels.com/photos/551628/pexels-photo-551628.jpeg?cs=srgb&dl=animal-dog-pet-551628.jpg&fm=jpg" height="800" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-xl-start" style="margin-bottom: 400px; margin-left: -175px">
                <h3>Our state-of-the-art facility</h3>
                <p style="margin-right: 800px">Is equipped with the latest technology to ensure that your pet receives the best possible care. We also offer an in-house pharmacy and laboratory for your convenience.</p>
            </div>
        </div><div class="carousel-item">
            <img src="https://static.toiimg.com/photo/75084814.cms" height="800" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-xl-start">
                <h3>We understand that your pet is an important member of your family</h3>
                <p>We strive to make your visit to our clinic as stress-free as possible. That's why we offer a comfortable and welcoming waiting area, and our staff is always happy to answer any questions you may have.</p>
            </div>
        </div><div class="carousel-item">
            <img src="https://th.bing.com/th/id/R.571f6ff80a35aea56d09ddb5cebc3cf2?rik=5VlREtsdatkSjA&riu=http%3a%2f%2fwallsdesk.com%2fwp-content%2fuploads%2f2016%2f07%2fFunny-Dogs-hd-background.jpg&ehk=XA5F9XsypRxGRMKOSuz8%2bee0ua0OpJvhzPpDD%2fVVJHs%3d&risl=&pid=ImgRaw&r=0" height="800" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-xl-start">
                <h3>We are committed to providing the best possible care for your pets.</h3>
                <p>We believe that a healthy pet is a happy pet, and we are dedicated to helping your furry family member live a long and happy life.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://th.bing.com/th/id/OIP.G9aWziCHbvLV-UHFyFRQpgHaEK?pid=ImgDet&rs=1" height="800" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-xl-start" style="margin-bottom: 550px; margin-left: -175px">
                <h3 style="margin-right: 800px">Thank you for considering Pets R Us for your pet's healthcare needs</h3>
                <p>We look forward to serving you and your pet soon.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousetext-aligndesOnly" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousetext-aligndesOnly" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>